<ion-view class="bar-assertive" hide-back-button="false">
    <ion-nav-title>Agregar Palabra</ion-nav-title>
    <ion-nav-buttons side="left">
        <div style="margin: 0 auto; width:30px" class="logo-superior"><img src="img/iconos/logo.png" width="30px" height="30px"></div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-help-outline" ng-click="helpPopup()"></button>&nbsp;&nbsp;&nbsp;
        <button class="button button-icon button-clear ion-ios-checkmark-outline" ng-click="save(letter.Id)"></button>&nbsp;
    </ion-nav-buttons>

  <ion-content>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Letra / Letter: </span>
          <input class="boton-agregar-estilo1" type="text" name="letter" value="{{letter.title}}" readonly>
        </label>
        <label class="item item-input">
          <span class="input-label">Palabra / Word: </span>
          <input class="boton-agregar-estilo2" type="text" ng-model="addWord.content" placeholder="pa-la-bra">
        </label>
        <label class="item item-input">
          <span class="input-label">Traducción: </span>
          <input class="boton-agregar-estilo2" type="text" ng-model="addWord.content_english" placeholder="word">
        </label>

        <div class="row">
            <div class="col col-40">
                <label>
                    <span class="input-label">&nbsp;Audio</span>
                </label>
            </div>
            <div class="col col-offset-20">
                <a ng-click="playing(editWordRow.custom_sound_path)">
                  <img ng-src="img/sonidos/play.png" width="40px" height="40px">
                </a>
            </div>
            <div class="col">
                <a on-hold="recordStart()" on-release="recordEnd()">
                  <img ng-src="img/sonidos/mic.png" width="40px" height="40px">
                </a>
            </div>
        </div>

      </div>

      <div class="row responsive-sm responsive-lg responsive-md">

            <div class="col">
                <div class="card">
                    <div ng-if="imgURI!==null" class="item item-image item-imagen-agregar">
                          <img ng-src="{{imgURI}}">
                    </div>
                    <div ng-if="imgURI===null && editWordRow.custom_image_path===''" class="item item-image item-imagen-agregar">
                          <img ng-src="img/iconos/not_found.png">
                    </div>
                    <div ng-if="imgURI===null && editWordRow.custom_image_path!==''" class="item item-image item-imagen-agregar">
                          <img ng-src="{{editWordRow.custom_image_path}}">
                    </div>

                     <div style="text-align: center !important; font-size: 40px !important;" class="item text-center">
                        <a ng-click="editImage()" style="font-size: 30px !important;"><i class="icon ion-image"></i></a>
                    </div>
                </div>
                <div align="center">
                    <button class="button button-icon button-light ion-ios-checkmark-outline" style="font-size:35px;" ng-click="save(letter.Id)"></button>
                </div>
            </div>

      </div>
  </ion-content>
</ion-view>
