<ion-view view-title="Cambiar Contraseña" cache-view="false">
  <ion-nav-buttons side="right"> </ion-nav-buttons>

  <ion-content>
    <div style="margin: 20px auto;" align="center" class="titulo-clave">
      <img src="img/iconos/logo.png" width="92px" height="92px"> <br>
      <h4>Cambiar contraseña de tu cuenta</h4>
    </div>

    <form name="cambiarClaveForm" ng-submit="doChangePassword()" novalidate>
      <div class="list">
        <label class="item item-input">
          <input class="input-registro" type="text" value="{{Username}}" readonly style="color:#ccc; background:transparent;">
        </label>
        <label class="item item-input">
          <input class="input-registro" type="password" name="password" placeholder="Contraseña Actual" ng-model="data.password" autocapitalize="off" required>
        </label>
        <label class="item item-input">
          <input class="input-registro" type="password" name="newpassword" placeholder="Nueva Contraseña" ng-model="data.newpassword" autocapitalize="off" required>
        </label>
        <label class="item item-input">
          <input class="input-registro" type="password" name="newpassword2" placeholder="Confirmar Nueva Contraseña" ng-model="data.newpassword2" autocapitalize="off" required>
        </label>
        <label class="item">
          <input class="button button-block button-assertive" type="submit" name="submit" value="CAMBIAR CONTRASEÑA" ng-disabled="cambiarClaveForm.$invalid">
        </label>
        <div>
        <label class="item item-input">
          <div align="center" ng-show="!cambiarClaveForm.$pristine && cambiarClaveForm.password.$error.required">El campo Contraseña es obligatorio.</div>
        </label>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
