<ion-view view-title="Colores" class="bar-assertive" hide-back-button="true">
    <ion-nav-buttons side="left">
      <!--  <button class="button button-icon ion-arrow-left-c" menu-toggle="left"> </button> -->
        <a href="#/app/inicio" class="button button-icon ion-ios-arrow-back"> Inicio</a>
        <div style="margin: 0 auto; width:30px" class="logo-superior"><img src="img/iconos/logo.png" width="30px" height="30px"></div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-more-vertical" ng-click="showE($event)"></button>
    </ion-nav-buttons>

    <ion-content>
      <div class="row responsive-lg responsive-md responsive-sm" ng-controller="mediaCtrl">
          <div class="col">

            <ion-slide-box ng-if="colors.length" on-slide-changed="slideHasChangedColores('raw/'+colors[$index].title+'.mp3')" show-pager="false" does-continue="true">
                <ion-slide ng-repeat="color in colors" repeat-done="repeatDone()">
                    <div class="list" style="margin-bottom: 1px !important; padding-bottom: 1px !important;">

                            <div class="row row-top">
                              <div class="col">
                                  <h1 style="text-align: center !important; font-weight: bold !important; font-size: 70px !important; color: #ef473a !important;">
                                    <span style="color:#ef473a;" ng-repeat="letra0 in extraido0[$index]">{{letra0}}</span><span ng-repeat="letra0 in extraido0[$index]" style="text-transform:lowercase; color:#ef473a;">{{letra0}}</span>
                                  </h1>
                              </div>
                              <div class="col">
                                  <h1 style="text-align: center !important; font-weight: bold !important; font-size: 70px !important; color: #ef473a !important;">
                                    <span style="color:#33A5FF;" ng-repeat="letra1 in extraido1[$index]">{{letra1}}</span><span ng-repeat="letra1 in extraido1[$index]" style="text-transform:lowercase; color:#33A5FF;">{{letra1}}</span>
                                  </h1>
                              </div>
                            </div>

                            <div class="item-palabras text-center">
                              <div class="row">
                                  <div class="col">
                                    <h3>{{colors[$index].content}}</h3>
                                    <div style="margin: 0 auto;">
                                        <br>
                                        <a ng-click="slideHasChangedColores('raw/'+colors[$index].title+'.mp3')">
                                          <img ng-src="img/sonidos/sonido.png" width="50" height="50">
                                        </a>
                                    </div>
                                  </div>
                                  <div class="col">
                                    <h3><span style="color:#33A5FF;">{{colors[$index].content_english}}</span></h3>
                                    <div style="margin: 0 auto;">
                                        <br>
                                        <a ng-click="slideHasChangedColores('raw/'+minuscula[$index]+'.mp3')">
                                          <img ng-src="img/sonidos/sonido_e.png" width="50" height="50">
                                        </a>
                                    </div>
                                  </div>
                              </div>
                                <div>
                                  <span class="flecha-izq-slide"><a ng-click="previousSlide()">
                                    <img src="img/iconos/prev.png" width="56" height="56"></a>
                                  </span>
                                  <span class="flecha-der-slide"><a ng-click="nextSlide()">
                                    <img src="img/iconos/next.png" width="56" height="56"></a>
                                  </span>
                                </div>
                            </div>

                           <div ng-if="color.custom_image_path===''" class="item item-image">
                               <img ng-src="img/colores/{{colors[$index].title}}.jpg">
                           </div>
                           <div ng-if="color.custom_image_path!==''" class="item item-image">
                               <img ng-src="img/colores/{{colors[$index].title}}.jpg">
                           </div>

                    </div>

                </ion-slide>
            </ion-slide-box>

        </div>
      </div>
    </ion-content>
</ion-view>
