<ion-view view-title="Completar" class="bar-assertive" hide-back-button="true">
    <ion-nav-buttons side="left">
      <!--  <button class="button button-icon ion-arrow-left-c" menu-toggle="left"> </button> -->
        <a href="#/app/inicio" class="button button-icon ion-ios-arrow-back"> Inicio</a>
        <div style="margin: 0 auto; width:30px" class="logo-superior"><img src="img/iconos/logo.png" width="30px" height="30px"></div>
    </ion-nav-buttons>

    <ion-content>
        <div class="row">
            <div class="col col-50">
                <a style="text-decoration:none !important;" class="" href="#/app/compPalabras">
                    <div class="card">
                        <div class="item item-image">
                            <img src="img/menu/palabras.jpg">
                        </div>
                        <div class="item text-center color-rojo">
                            <h3>POR PALABRAS</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col col-50">
                <a style="text-decoration:none !important;" class="" href="#/app/compSonidos">
                    <div class="card">
                        <div class="item item-image">
                          <img src="img/menu/sonidos.jpg">
                        </div>
                        <div class="item text-center color-rojo">
                            <h3>POR SONIDOS</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col col-50">
                <a style="text-decoration:none !important;" class="" href="#/app/compPalabras2">
                    <div class="card">
                        <div class="item item-image">
                            <img src="img/menu/words.jpg">
                        </div>
                        <div class="item text-center color-rojo">
                            <h3>BY WORDS</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col col-50">
                <a style="text-decoration:none !important;" class="" href="#/app/compSonidos2">
                    <div class="card">
                        <div class="item item-image">
                          <img src="img/menu/sounds.jpg">
                        </div>
                        <div class="item text-center color-rojo">
                            <h3>BY SOUNDS</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
