<ion-view view-title="Complete Sounds" class="bar-assertive" hide-back-button="false">
  <ion-nav-buttons side="left">
      <div style="margin: 0 auto; width:30px" class="logo-superior"><img src="img/iconos/logo.png" width="30px" height="30px"></div>
  </ion-nav-buttons>

  <ion-content>
      <div class="row" ng-repeat="palabra in palabras" ng-if="$index % 3 == 0">
            <div class="col col-33" ng-if="$index < palabras.length">
                <div class="card no-margin">
                    <div class="item text-center no-padding">
                        <a style="text-decoration:none !important;" ng-href="#/app/compSonidosEng/{{palabras[$index].Id}}">
                          <h1 style="color: {{items[$index].color}} !important; font-size: 48px !important; font-weight: bold !important;">{{palabras[$index].title}}</h1>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col col-33" ng-if="$index +1 < palabras.length">
                <div class="card no-margin">
                    <div class="item text-center no-padding">
                        <a style="text-decoration:none !important;" ng-href="#/app/compSonidosEng/{{palabras[$index + 1].Id}}">
                          <h1 style="color: {{items[$index + 1].color}} !important; font-size: 48px !important; font-weight: bold !important;">{{palabras[$index + 1].title}}</h1>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col col-33" ng-if="$index +2 < palabras.length">
                <div class="card no-margin" ng-if="palabras[$index + 2].title != 'Ñ'">
                    <div class="item text-center no-padding">
                        <a style="text-decoration:none !important;" ng-href="#/app/compSonidosEng/{{palabras[$index + 2].Id}}">
                          <h1 style="color: {{items[$index + 2].color}} !important; font-size: 48px !important;font-weight: bold !important;">{{palabras[$index + 2].title}}</h1>
                        </a>
                    </div>
                </div>
            </div>
      </div>

  </ion-content>
</ion-view>
