<ion-view view-title="Complete Words" class="bar-assertive" hide-back-button="false">
  <ion-nav-buttons side="left">
      <div style="margin: 0 auto; width:30px" class="logo-superior"><img src="img/iconos/logo.png" width="30px" height="30px"></div>
  </ion-nav-buttons>

  <ion-content scroll="false" ng-controller="mediaCtrl">
      <div class="row contenedor_fila_compl">
            <div class="col col-49 cont_compl_palabras" style="border-color: {{items1.color}};">
              <div class="drop-container" ng-drop="true" ng-drop-success="onDropComplete1($data,$event)" ng-drop-id="myDropZone_a">
                  <div ng-repeat="imagen in word11">
                      <!--<img ng-src="img/palabras/{{minuscula2a_en[$index]}}.jpg">-->
                      <img ng-src="{{nombreImagen2a_en}}">
                  </div>
                  <div ng-repeat="palabra in droppedObjects1" ng-drag="false" ng-drop-target="myDropZone_a" ng-drag-data="palabra" ng-drag-success="onDragComplete1($data,$event)" class="item ng-binding" ng-click="audioCompletar(palabra.content_english,'raw/'+min_eng11[$index]+'.mp3')">
                     {{palabra.content_english}}
                  </div>
              </div>
            </div>

            <div class="col col-49 cont_compl_palabras" style="border-color: {{items2.color}};">
              <div class="drop-container" ng-drop="true" ng-drop-success="onDropComplete2($data,$event)" ng-drop-id="myDropZone_b">
                  <div ng-repeat="imagen in word22">
                      <img ng-src="{{nombreImagen2b_en}}">
                  </div>
                  <div ng-repeat="palabra2 in droppedObjects2" ng-drag="false" ng-drop-target="myDropZone_b" ng-drag-data="palabra2" ng-drag-success="onDragComplete2($data,$event)" class="item ng-binding" ng-click="audioCompletar(palabra2.content_english,'raw/'+min_eng22[$index]+'.mp3')">
                     {{palabra2.content_english}}
                  </div>
              </div>
            </div>
      </div>

      <div class="row contenedor_fila_compl">
            <div class="col col-49 cont_compl_palabras" style="border-color: {{items3.color}};">
              <div class="drop-container" ng-drop="true" ng-drop-success="onDropComplete3($data,$event)" ng-drop-id="myDropZone_c">
                  <div ng-repeat="imagen in word33">
                      <img ng-src="{{nombreImagen2c_en}}">
                  </div>
                  <div ng-repeat="palabra3 in droppedObjects3" ng-drag="false" ng-drop-target="myDropZone_c" ng-drag-data="palabra3" ng-drag-success="onDragComplete3($data,$event)" class="item ng-binding" ng-click="audioCompletar(palabra3.content_english,'raw/'+min_eng33[$index]+'.mp3')">
                     {{palabra3.content_english}}
                  </div>
              </div>
            </div>

            <div class="col col-49 cont_compl_palabras" style="border-color: {{items4.color}};">
              <div class="drop-container" ng-drop="true" ng-drop-success="onDropComplete4($data,$event)" ng-drop-id="myDropZone_d">
                  <div ng-repeat="imagen in word44">
                      <img ng-src="{{nombreImagen2d_en}}">
                  </div>
                  <div ng-repeat="palabra4 in droppedObjects4" ng-drag="false" ng-drop-target="myDropZone_d" ng-drag-data="palabra4" ng-drag-success="onDragComplete4($data,$event)" class="item ng-binding" ng-click="audioCompletar(palabra4.content_english,'raw/'+min_eng44[$index]+'.mp3')">
                     {{palabra4.content_english}}
                  </div>
              </div>
            </div>
      </div>

      <!-- Palabras en inglés para el Drag -->
      <div class="row">
            <div class="col col-50">
                  <div class="draggable-objects" ng-repeat="palabra2 in word22">
                      <a ng-click="audioCompletar(palabra2.content_english,'raw/'+min_eng22[$index]+'.mp3')">
                      <div ng-drag="true" ng-drop-target="myDropZone_b" ng-drag-data="palabra2" data-allow-transform="true" class="item" style="display: {{items2.display}};">
                         {{palabra2.content_english}}
                      </div>
                      </a>
                  </div>
            </div>
            <div class="col col-50">
                <div class="draggable-objects" ng-repeat="palabra in word11">
                      <a ng-click="audioCompletar(palabra.content_english,'raw/'+min_eng11[$index]+'.mp3')">
                      <div ng-drag="true" ng-drop-target="myDropZone_a" ng-drag-data="palabra" data-allow-transform="true" class="item" style="display: {{items1.display}};">
                         {{palabra.content_english}}
                      </div>
                      </a>
                </div>
            </div>
      </div>
      <div class="row">
            <div class="col col-50">
                <div class="draggable-objects" ng-repeat="palabra4 in word44">
                    <a ng-click="audioCompletar(palabra4.content_english,'raw/'+min_eng44[$index]+'.mp3')">
                    <div ng-drag="true" ng-drop-target="myDropZone_d" ng-drag-data="palabra4" data-allow-transform="true" class="item" style="display: {{items4.display}};">
                      {{palabra4.content_english}}
                    </div>
                    </a>
                </div>
            </div>
            <div class="col col-50">
                <div class="draggable-objects" ng-repeat="palabra3 in word33">
                    <a ng-click="audioCompletar(palabra3.content_english,'raw/'+min_eng33[$index]+'.mp3')">
                    <div ng-drag="true" ng-drop-target="myDropZone_c" ng-drag-data="palabra3" data-allow-transform="true" class="item" style="display: {{items3.display}};">
                      {{palabra3.content_english}}
                    </div>
                    </a>
                </div>
            </div>
      </div>

      <div class="row">
            <div class="col item boton-recargar" align="center">
                <a ng-click="recargarVista()">Reload</a>
            </div>
      </div>

  </ion-content>
</ion-view>
