<ion-view view-title="Completar Sonidos" class="bar-assertive" hide-back-button="false">
  <ion-nav-buttons side="left">
      <div style="margin: 0 auto; width:30px" class="logo-superior"><img src="img/iconos/logo.png" width="30px" height="30px"></div>
  </ion-nav-buttons>

  <ion-content scroll="false" ng-controller="mediaCtrl">
      <div class="row contenedor_fila_compl">
            <div class="col col-49 cont_compl_palabras" style="border-color: {{items1.color}};">
              <div class="drop-container" ng-drop="true" ng-drop-success="onDropComplete1($data,$event)" ng-drop-id="myDropZone_a">
                  <div ng-repeat="imagen in palabra11">
                      <img ng-src="{{nombreImagen2a}}">
                  </div>
                  <div ng-repeat="palabra in droppedObjects1" ng-drag="false" ng-drop-target="myDropZone_a" ng-drag-data="palabra" ng-drag-success="onDragComplete1($data,$event)" class="item ng-binding" ng-click="audioCompletarEsp(palabra[$index].custom_sound_path,'raw/'+minuscula2a[$index]+'.mp3')">
                     {{palabra.title}}
                  </div>
              </div>
            </div>

            <div class="col col-49 cont_compl_palabras" style="border-color: {{items2.color}};">
              <div class="drop-container" ng-drop="true" ng-drop-success="onDropComplete2($data,$event)" ng-drop-id="myDropZone_b">
                  <div ng-repeat="imagen in palabra22">
                      <img ng-src="{{nombreImagen2b}}">
                  </div>
                  <div ng-repeat="palabra2 in droppedObjects2" ng-drag="false" ng-drop-target="myDropZone_b" ng-drag-data="palabra2" ng-drag-success="onDragComplete2($data,$event)" class="item ng-binding" ng-click="audioCompletarEsp(palabra2[$index].custom_sound_path,'raw/'+minuscula2b[$index]+'.mp3')">
                     {{palabra2.title}}
                  </div>
              </div>
            </div>
      </div>

      <div class="row contenedor_fila_compl">
            <div class="col col-49 cont_compl_palabras" style="border-color: {{items3.color}};">
              <div class="drop-container" ng-drop="true" ng-drop-success="onDropComplete3($data,$event)" ng-drop-id="myDropZone_c">
                  <div ng-repeat="imagen in palabra33">
                      <img ng-src="{{nombreImagen2c}}">
                  </div>
                  <div ng-repeat="palabra3 in droppedObjects3" ng-drag="false" ng-drop-target="myDropZone_c" ng-drag-data="palabra3" ng-drag-success="onDragComplete3($data,$event)" class="item ng-binding" ng-click="audioCompletarEsp(palabra3[$index].custom_sound_path,'raw/'+minuscula2c[$index]+'.mp3')">
                     {{palabra3.title}}
                  </div>
              </div>
            </div>

            <div class="col col-49 cont_compl_palabras" style="border-color: {{items4.color}};">
              <div class="drop-container" ng-drop="true" ng-drop-success="onDropComplete4($data,$event)" ng-drop-id="myDropZone_d">
                  <div ng-repeat="imagen in palabra44">
                      <img ng-src="{{nombreImagen2d}}">
                  </div>
                  <div ng-repeat="palabra4 in droppedObjects4" ng-drag="false" ng-drop-target="myDropZone_d" ng-drag-data="palabra4" ng-drag-success="onDragComplete4($data,$event)" class="item ng-binding" ng-click="audioCompletarEsp(palabra4[$index].custom_sound_path,'raw/'+minuscula2d[$index]+'.mp3')">
                     {{palabra4.title}}
                  </div>
              </div>
            </div>
      </div>

      <!-- Palabras para el Drag -->
      <div class="row">
            <div class="col col-25" align="center">
                  <div ng-repeat="palabra2 in palabra22">
                      <a ng-click="audioCompletarEsp(palabra2.custom_sound_path,'raw/'+minuscula2b[$index]+'.mp3')">
                      <div ng-drag="true" ng-drop-target="myDropZone_b" ng-drag-data="palabra2" data-allow-transform="true" style="display: {{items2.display}};">
                         <img ng-src="img/sonidos/sonido.png" width="45" height="45">
                      </div>
                      </a>
                  </div>
            </div>
            <div class="col col-25" align="center">
                <div ng-repeat="palabra in palabra11">
                      <a ng-click="audioCompletarEsp(palabra.custom_sound_path,'raw/'+minuscula2a[$index]+'.mp3')">
                      <div ng-drag="true" ng-drop-target="myDropZone_a" ng-drag-data="palabra" data-allow-transform="true" style="display: {{items1.display}};">
                         <img ng-src="img/sonidos/sonido.png" width="45" height="45">
                      </div>
                      </a>
                </div>
            </div>
            <div class="col col-25" align="center">
                <div ng-repeat="palabra4 in palabra44">
                    <a ng-click="audioCompletarEsp(palabra4.custom_sound_path,'raw/'+minuscula2d[$index]+'.mp3')">
                    <div ng-drag="true" ng-drop-target="myDropZone_d" ng-drag-data="palabra4" data-allow-transform="true" style="display: {{items4.display}};">
                      <img ng-src="img/sonidos/sonido.png" width="45" height="45">
                    </div>
                    </a>
                </div>
            </div>
            <div class="col col-25" align="center">
                <div ng-repeat="palabra3 in palabra33">
                    <a ng-click="audioCompletarEsp(palabra3.custom_sound_path,'raw/'+minuscula2c[$index]+'.mp3')">
                    <div ng-drag="true" ng-drop-target="myDropZone_c" ng-drag-data="palabra3" data-allow-transform="true" style="display: {{items3.display}};">
                      <img ng-src="img/sonidos/sonido.png" width="45" height="45">
                    </div>
                    </a>
                </div>
            </div>
      </div>
      <div class="row">
            <div class="col item boton-recargar" align="center">
                <a ng-click="recargarVista()">Recargar</a>
            </div>
      </div>

  </ion-content>
</ion-view>
