<ion-view view-title="Sonidos" class="bar-assertive">
  <ion-content>
      <div class="row" ng-repeat="simple in simples" ng-if="$index % 3 == 0">
            <div class="col col-33" ng-if="$index < simples.length">
                <div class="card no-margin">
                    <div class="item text-center no-padding">
                        <a style="text-decoration:none !important;" ng-href="#/app/simples/{{simples[$index].Id}}">
                          <h1 style="color: {{items[$index].color}} !important; font-size: 48px !important;font-weight: bold !important;">
                            {{simples[$index].title}}
                          </h1>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col col-33" ng-if="$index +1 < simples.length">
                <div class="card no-margin">
                    <div class="item text-center no-padding">
                        <a style="text-decoration:none !important;" ng-href="#/app/simples/{{simples[$index + 1].Id}}">
                          <h1 style="color: {{items[$index + 1].color}} !important; font-size: 48px !important;font-weight: bold !important;">
                            {{simples[$index + 1].title}}
                          </h1>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col col-33" ng-if="$index +2 < simples.length">
                <div class="card no-margin">
                    <div class="item text-center no-padding">
                        <a style="text-decoration:none !important;" ng-href="#/app/simples/{{simples[$index + 2].Id}}">
                          <h1 style="color: {{items[$index + 2].color}} !important; font-size: 48px !important;font-weight: bold !important;">
                            {{simples[$index + 2].title}}
                          </h1>
                        </a>
                    </div>
                </div>
            </div>
      </div>

  </ion-content>
</ion-view>
