<ion-view>
    <ion-nav-title>{{compuesto.title}}</ion-nav-title>
    <ion-nav-buttons side="left">
        <div style="margin: 0 auto; width:30px"><img src="img/iconos/logo.png" width="30px" height="30px"></div>
    </ion-nav-buttons>
    <!--
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-more-vertical" ng-click="showE($event)"></button>
      </ion-nav-buttons>
    -->
  <ion-content>

      <div class="row">
        <div class="col">
            <br><br>
            <h1 style="text-align: center !important; font-weight: bold !important; font-size: 90px !important; color: #ef473a !important;">
              {{compuesto.content}}
            </h1>
            <br><br>
        </div>
      </div>
      <div class="row fondo-rojo" ng-controller="mediaCtrl">
          <div class="col">

            <ion-slide-box ng-if="sencillo.length" on-slide-changed="slideHasChanged(sencillo[$index].custom_sound_path,'raw/'+mintitle[$index]+'.mp3')" class="" show-pager="false" does-continue="false">
                <ion-slide ng-repeat="senci in sencillo"  repeat-done="repeatDone()">
                    <div style="margin: 0 auto; width:85px">
                      <a ng-click="slideHasChanged(sencillo[$index].custom_sound_path,'raw/'+mintitle[$index]+'.mp3')">
                        <img ng-src="img/sonidos/sonido.png" width="85" height="85">
                      </a>
                    </div>
                    <div style="margin: 0 auto;">
                      <h1 class="margen-slide slide-estilo">{{senci.title}}</h1>
                      <span class="flecha-izq-slide"><a ng-click="previousSlide()"><img src="img/iconos/prev.png" width="70" height="70"></a></span>
                      <span class="flecha-der-slide"><a ng-click="nextSlide()"><img src="img/iconos/next.png" width="70" height="70"></a></span>
                    </div>
                </ion-slide>
            </ion-slide-box>

        </div>
      </div>

  </ion-content>
</ion-view>
