<ion-view>
    <ion-nav-title>{{palabras.title}}</ion-nav-title>
    <ion-nav-buttons side="left">
        <div style="margin: 0 auto; width:30px" class="logo-superior"><img src="img/iconos/logo.png" width="30px" height="30px"></div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-more-vertical" ng-click="showE($event)"></button>
    </ion-nav-buttons>
  <ion-content>

      <div align="center" style="padding-top:8px;">
          <h3>{{no_hay_palabras}}</h3>
      </div>
      <div class="row responsive-lg responsive-md responsive-sm" ng-controller="mediaCtrl">
          <div class="col">

            <ion-slide-box ng-if="sencillo.length" on-slide-changed="playing1(sencillo[$index].custom_sound_path,'raw/'+mintitle[$index]+'.mp3')" show-pager="false" does-continue="false">

                <ion-slide ng-repeat="senci in sencillo" repeat-done="repeatDone()">
                    <div class="list" style="margin-bottom: 1px !important; padding-bottom: 1px !important;">
                        <div class="row row-top">
                              <div class="col">
                                  <h1 style="text-align: center !important; font-weight: bold; font-size: 64px !important; color:#ef473a;">{{palabras.content}}</h1>
                              </div>
                              <div class="col">
                                  <h1 style="text-align: center !important; font-weight: bold; font-size: 64px !important; color:#33A5FF;">{{sencillo[$index].letter_eng}}</h1>
                              </div>
                        </div>

                        <div class="item-palabras text-center">
                          <div class="row">
                            <div class="col">
                                <span ng-repeat="column in sound[$index]" style="font-size:24px;"><span style="color: #ef473a !important;" ng-if="($index + 1) % 2 === 0">{{column}}</span><span style="color: #444 !important;" ng-if="($index + 1) % 2 !== 0">{{column}}</span></span>
                                <br>
                                <div style="margin: 0 auto;">
                                    <br><br>
                                    <a ng-if="sencillo[$index].custom_sound_path.length < 1" ng-click="playing('raw/'+mintitle[$index]+'.mp3')">
                                      <img ng-src="img/sonidos/sonido.png" width="50" height="50">
                                    </a>
                                    <a ng-if="sencillo[$index].custom_sound_path.length > 1" ng-click="playing(sencillo[$index].custom_sound_path)">
                                      <img ng-src="img/sonidos/sonido.png" width="50" height="50">
                                    </a>

                                </div>
                            </div>
                            <div class="col">
                                <span style="color:#33A5FF; font-size:24px">{{sencillo[$index].content_english}}</span>
                                <br>
                                <div style="margin: 0 auto;">
                                    <br><br>
                                    <a ng-click="slideHasChangedEnglish(sencillo[$index].content_english,'raw/'+minuscula_en[$index]+'.mp3')">
                                      <img ng-src="img/sonidos/sonido_e.png" width="50" height="50">
                                    </a>
                                </div>
                            </div>
                          </div>
                          <div>
                            <span class="flecha-izq-slide"><a ng-click="previousSlide()">
                              <img src="img/iconos/prev.png" width="56" height="56"></a>
                            </span>
                            <span class="flecha-der-slide"><a ng-click="nextSlide()">
                              <img src="img/iconos/next.png" width="56" height="56"></a>
                            </span>
                          </div>
                        </div>

                        <div ng-if="senci.custom_image_path===''" class="item item-image item-imagen-agregar">
                           <img ng-if="papa[$index] == 'Papá'" ng-src="img/palabras/papaa.jpg">
                           <img ng-if="papa[$index] != 'Papá'" ng-src="img/palabras/{{nodiacri[$index] | lowercase}}.jpg">
                        </div>
                        <div ng-if="senci.custom_image_path!==''" class="item item-image item-imagen-agregar">
                           <img ng-src="{{senci.custom_image_path}}">
                        </div>

                        <div align="center">
                         <a ng-href="#/app/addPalabra/{{popover.item.Id}}" class="button button-icon ion-plus-circled" style="font-size:28px;">&nbsp;</a>
                         <a ng-click="eliminarPalabra(senci.Id)" class="button button-icon ion-trash-a" style="font-size:33px; color:red;">&nbsp;</a>
                         <a ng-href="#/app/editPalabra/{{senci.Id}}" class="button button-icon ion-edit" style="font-size:28px;">&nbsp;</a>
                        </div>
                    </div>

                </ion-slide>
            </ion-slide-box>

        </div>
      </div>

  </ion-content>
</ion-view>
