<ion-view class="bar-assertive">
    <ion-nav-title>Editar Familia</ion-nav-title>
    <ion-nav-buttons side="left">
        <div style="margin: 0 auto; width:30px" class="logo-superior"><img src="img/iconos/logo.png" width="30px" height="30px"></div>
    </ion-nav-buttons>    
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-help-outline" ng-click="helpPopup()"></button>&nbsp;&nbsp;
        <button class="button button-icon button-clear ion-ios-checkmark-outline" ng-click="save(familias.word_id)"></button>
    </ion-nav-buttons>

  <ion-content>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Letra: </span>
          <input class="boton-agregar-estilo-familia1" type="text" name="letter" value="{{extraido}}" readonly="readonly">
        </label>
        <label class="item item-input">
          <span class="input-label">Nombre: </span>
          <input class="boton-agregar-estilo-familia2" type="text" name="name" value="{{familias.name}}" ng-model="familias.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Miembro familia: </span>
          <input class="boton-agregar-estilo-familia2" type="text" name="description" value="{{familias.description}}" readonly="readonly">
        </label>
        <div class="row">

            <div class="col col-40">
                <label>
                    <span class="input-label">&nbsp;Audio</span>
                </label>
            </div>
            <div class="col col-offset-20">
                <a ng-click="playing(familias.custom_sound_path)">
                  <img ng-src="img/sonidos/play.png" width="40px" height="40px">
                </a>
            </div>
            <div class="col">
                <a on-hold="recordStart()" on-release="recordEnd()">
                  <img ng-src="img/sonidos/mic.png" width="40px" height="40px">
                </a>
            </div>
        </div>

      </div>

      <div class="row responsive-sm responsive-lg responsive-md">

            <div class="col">
                <div class="card">

                    <div ng-if="imgURI!==null" class="item item-image item-imagen-agregar">
                          <img ng-src="{{imgURI}}">
                    </div>
                    <div ng-if="imgURI===null && editWordRow.custom_image_path!==null" class="item item-image item-imagen-agregar">
                          <img ng-src="{{familias.custom_image_path}}">
                    </div>
                    <div style="text-align: center !important; font-size: 40px !important;" class="item text-center">
                        <a ng-click="editImage()" style="font-size: 30px !important;"><i class="icon ion-ios-compose"></i></a>
                    </div>

                </div>
            </div>

      </div>
  </ion-content>
</ion-view>
