<div ng-controller="EditImageCtrl">

<button ng-click="gallery()" class="button button-block button-outline button-assertive">
  Gallería
</button>
<button ng-click="takePicture()" class="button button-block button-outline button-assertive">
  Cámara
</button>

</div>
