<ion-view view-title="Familia" class="bar-assertive">
    <ion-nav-buttons side="left">
        <div style="margin: 0 auto; width:30px"><img src="img/iconos/logo.png" width="30px" height="30px"></div>
    </ion-nav-buttons>

    <ion-content>
      <div align="center"><h2>{{no_se_encontro}}</h2></div>
      <div class="row responsive-lg responsive-md responsive-sm" ng-controller="mediaCtrl">
          <div class="col">

            <ion-slide-box ng-if="familias.length" on-slide-changed="slideHasChangedSrcOnly(familias[$index].custom_sound_path, familias[$index].Id)" show-pager="false" does-continue="false">
                <ion-slide ng-repeat="familia in familias" repeat-done="repeatDone()">
                    <div class="list" style="margin-bottom: 1px !important; padding-bottom: 1px !important;">

                            <div class="row row-top">
                              <div class="col">
                                  <h1 style="text-align: center !important; font-weight: bold !important; font-size: 60px !important; color:#ef473a !important;">
                                    <span ng-repeat="letra0 in extraido0[$index]">{{letra0}}</span><span ng-repeat="letra0 in extraido0[$index]" style="text-transform:lowercase;">{{letra0}}</span>
                                  </h1>
                              </div>
                              <div class="col">
                                  <h1 style="text-align: center !important; font-weight: bold !important; font-size: 60px !important; color:#33A5FF !important;">
                                    <span ng-repeat="letra1 in extraido1[$index]">{{letra1}}</span><span ng-repeat="letra1 in extraido1[$index]" style="text-transform:lowercase;">{{letra1}}</span>
                                  </h1>
                              </div>
                            </div>

                            <div class="item-palabras text-center">
                              <div class="row">
                                  <div class="col">
                                    <h3 style="color: red !important;">{{familias[$index].description}}</h3>
                                    <h4>{{familias[$index].name}}</h4>
                                      <div style="margin: 0 auto;">
                                          <br>
                                          <a ng-click="slideHasChangedSrcOnly(familias[$index].custom_sound_path, familias[$index].Id)">
                                            <img ng-src="img/sonidos/sonido.png" width="50" height="50">
                                          </a>
                                      </div>
                                  </div>

                                  <div class="col">
                                    <h3 style="color:#33A5FF !important;">{{familias[$index].description_en}}</h3>
                                    <h4>{{familias[$index].name}}</h4>
                                      <div style="margin: 0 auto;">
                                          <br>
                                          <a ng-click="slideHasChangedEnglishFamily(familias[$index].description_en)">
                                            <img ng-src="img/sonidos/sonido_e.png" width="50" height="50">
                                          </a>
                                      </div>
                                  </div>
                              </div>

                              <div>
                                <span class="flecha-izq-slide"><a ng-click="previousSlide()">
                                  <img src="img/iconos/prev.png" width="56" height="56"></a>
                                </span>
                                <span class="flecha-der-slide"><a ng-click="nextSlide()">
                                  <img src="img/iconos/next.png" width="56" height="56"></a>
                                </span>
                              </div>

                            </div>

                           <div ng-if="familia.custom_image_path!==''" class="item item-image item-imagen-agregar">
                               <img ng-src="{{familias[$index].custom_image_path}}">
                           </div>

                           <div align="center">
                             <a ng-click="eliminarFamilia(familias[$index].word_id)" class="button button-icon ion-trash-a" style="font-size:33px; color:red;">&nbsp;</a>
                             <a ng-href="#/app/editFamilia/{{familias[$index].word_id}}" class="button button-icon ion-edit" style="font-size:28px; color:#333;">&nbsp;</a>
                           </div>

                    </div>

                </ion-slide>
            </ion-slide-box>

        </div>
      </div>

    </ion-content>
</ion-view>
