<ion-view view-title="Familia" class="bar-assertive" hide-back-button="true">
    <ion-nav-buttons side="left">
      <!--  <button class="button button-icon ion-arrow-left-c" menu-toggle="left"> </button> -->
        <a href="#/app/inicio" class="button button-icon ion-ios-arrow-back"> Inicio</a>  
        <div style="margin: 0 auto; width:30px" class="logo-superior"><img src="img/iconos/logo.png" width="30px" height="30px"></div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-more-vertical" ng-click="showE($event)"></button>
    </ion-nav-buttons>
    <ion-content>
          <ion-list>
              <ion-item class="item">
                  <h2 class="title title-familia">Miembros disponibles para agregar a familia:</h2>
              </ion-item>
          </ion-list>

          <div class="row" ng-repeat="familia in familias">
              <ion-list class="item-familia">
                    <ion-item class="item" menu-close ng-href="#/app/addFamilia/{{familia.Id}}">
                        <span class="button button-icon ion-plus-circled">&nbsp;&nbsp;{{familia.description}} / {{familia.description_en}}</span>
                    </ion-item>
              </ion-list>
          </div>
          <div align="center">
              <a class="button button-full button-light boton-slides-familia" style="margin:0px 5px;" ng-href="#/app/familiaSlides">Ver diapositiva de familia</a>
          </div>
    </ion-content>
</ion-view>
