<div class="row">
    <div style="text-align: justify !important;" class="col">
    <p>
        1. Selecciona la imagen para el perfil. <br>
        2. Escriba tu nombre para el perfil. <br>
        3. Tocar primero el icono del micrófono sosteniendo para grabar la frase de felicitación y el nombre hasta que salga la frase
        "Grabando...".
    </p>
    </div>
</div>
<div class="row">
    <div class="col-50" align="center">
    <p>
        <img ng-src="img/sonidos/play_grey.png" width="40px" height="40px">
    </p>
    </div>
    <div class="col-50" align="center">
    <p>
        <img ng-src="img/sonidos/mic_grey.png" width="40px" height="40px">
    </p>
    </div>
</div>
<div  class="row">
    <div style="text-align: justify !important;" class="col">
    <p>
        Al finalizar usa el bot&oacute;n de Guardar Perfil para actualizar los cambios, o también en este icono en la parte superior izquierda.
    </p>
    </div>
</div>
<div class="row">
    <div style="text-align: center !important; font-size: 40px !important; " class="col">
        <span style="font-size: 40px !important;" class="ion-ios-checkmark-outline"></span>
    </div>
</div>
