<div class="row">
    <div style="text-align: justify !important;" class="col">
    <p>
        Escribe la palabra separando con guiones para resaltar las s&iacute;labas. Ejemplo: "A-be-ja"
    </p>
    <p>
        Toca los iconos debajo del nombre de la palabra para reproducir, grabar o buscar un sonido para la palabra
    </p>
    </div>
</div>
<div class="row">
    <div class="col-20 col-offset-20">
    <p>
        <img ng-src="img/sonidos/play_grey.png" width="40px" height="40px">
    </p>
    </div>
    <div class="col-20">
    <p>
        <img ng-src="img/sonidos/mic_grey.png" width="40px" height="40px">
    </p>
    </div>
    <div class="col-20">
    <p>
        <img ng-src="img/sonidos/gallery_grey.png" width="40px" height="40px">
    </p>
    </div>
</div>
<div class="row">
    <div style="text-align: justify !important;" class="col">
    <p>
        Toca el icono de la imagen para cambiarla.
    </p>
    </div>
</div>
<div class="row">
    <div style="margin: 0 auto; width:100px">
        <img ng-src="img/iconos/not_found.png" width="100px" height="80px">
    </div>
</div>
<div  class="row">
    <div style="text-align: justify !important;" class="col">
    <p>
        Al finalizar usa el bot&oacute;n de guardar para salvar los cambios.
    </p>
    </div>
</div>
<div class="row">
    <div style="text-align: center !important; font-size: 40px !important; " class="col">
        <span style="font-size: 40px !important;" class="ion-ios-checkmark-outline"></span>
    </div>
</div>
