<div class="row">
    <div style="text-align: justify !important;" class="col">
        <p>
            Escribe el nombre del familiar separando con guiones para resaltar las s&iacute;labas. Ejemplo: "Al-fon-so"
        </p>
        <div>
            Toca primero el icono presionando para grabar el nombre del familiar:
            <br>
            <div align="center">
             <img ng-src="img/sonidos/mic_grey.png" width="40px" height="40px">
            </div>
        </div>
        <div>
            Toca el icono para reproducir el nombre del familiar:
            <br>
            <div align="center">
              <img ng-src="img/sonidos/play_grey.png" width="40px" height="40px">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        Toca el icono de la imagen para cambiar:
        <br>
        <div align="center">
          <img ng-src="img/iconos/not_found.png" width="90px" height="72px">
        </div>
    </div>
</div>

<div class="row">
    <div style="text-align: justify !important;" class="col">
    <p>
        Al finalizar usa el bot&oacute;n de guardar para salvar los cambios.
    </p>
    </div>
</div>
<div class="row">
    <div style="text-align: center !important; font-size: 40px !important; " class="col">
        <span style="font-size: 40px !important;" class="ion-ios-checkmark-outline"></span>
    </div>
</div>
