<ion-view view-title="Personal&iacute;zame" class="bar-dark">
    <ion-nav-buttons side="left">
        <div style="margin: 0 auto; width:30px" class="logo-superior"><img src="img/iconos/logo.png" width="30px" height="30px"></div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-help" ng-click="helpPopupProfile()"></button>
        <button class="button button-icon button-clear ion-ios-checkmark-outline" ng-click="doUpdateProfile()">&nbsp;</button>
    </ion-nav-buttons>

    <ion-content>
        <div class="text-center title-foto-perfil">
          <h5 style="color: #000 !important;">Foto de perfil</h5>
        </div>

        <div class="container-imagen-perfil">
          <a ng-click="editImage()">
            <div ng-if="imgURI!=null" class="text-center">
              <img ng-src="{{rutaImagenPerfil}}" class="imagen-perfil">
            </div>
            <div ng-if="imgURI==null && profileImage!=''" class="text-center">
              <img ng-src="{{imageProfile}}" class="imagen-perfil">
            </div>
          </a>
        </div>

        <div class="text-center input-nombre-perfil">
          <label class="item item-input">
            <input class="input-registro" type="text" placeholder="Nombre del aprendiz" ng-model="data.profileName" required>
          </label>
          <label class="item item-input">
            <input class="input-registro" type="text" value="{{usernameProfile}}" readonly style="color:#ccc; background:transparent;">
          </label>
          <label class="item item-input">
            <input class="input-registro" type="text" value="{{emailProfile}}" readonly style="color:#ccc; background:transparent;">
          </label>
        </div>

        <div class="row item">
            <div class="col col-50">
                <span class="input-label campo-input">Frase de felicitaci&oacute;n:</span>
            </div>
            <div class="col col-offset-20">
                <a ng-if="congrats_path.length < 1" ng-click="playing(rutaAudioFelicidadesPerfil)">
                  <img ng-src="img/sonidos/play.png" width="37px" height="37px">
                </a>
                <a ng-if="congrats_path.length > 1" ng-click="playing(congrats_path)">
                  <img ng-src="img/sonidos/play.png" width="37px" height="37px">
                </a>
            </div>
            <div class="col">
                <a on-hold="recordStartCon()" on-release="recordEndCon()"><img ng-src="img/sonidos/mic.png" width="36px" height="36px"></a>
            </div>
        </div>
        <div class="row item">
            <div class="col col-50">
                <span class="input-label campo-input">Pronunciaci&oacute;n de tu nombre:</span>
            </div>
            <div class="col col-offset-20">
                <a ng-if="name_sound_path.length < 1" ng-click="playing(rutaAudioNombrePerfil)">
                  <img ng-src="img/sonidos/play.png" width="37px" height="37px">
                </a>
                <a ng-if="name_sound_path.length > 1" ng-click="playing(name_sound_path)">
                  <img ng-src="img/sonidos/play.png" width="37px" height="37px">
                </a>
            </div>
            <div class="col">
                <a on-hold="recordStart()" on-release="recordEnd()"><img ng-src="img/sonidos/mic.png" width="36px" height="36px"></a>
            </div>
        </div>
        <br>
        <div class="text-center botones-perfil">
          <button style="background:#fff; border:1px solid #ef473a;" ng-click="doUpdateProfile()">
            <h4 style="color: #333 !important; font-size:16px;"> Guardar Perfil </h4>
          </button>
          &nbsp;&nbsp;&nbsp;
          <a ng-href="#/app/inicio">
          <button style="background:#fff; border:1px solid #ef473a;" >
            <h4 style="color: #333 !important; font-size:16px;"> Cancelar </h4>
          </button>
          </a>
        </div>

    </ion-content>

</ion-view>
