<ion-view view-title="Inicio" class="bar-dark" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-arrow-left-c" menu-toggle="left"></button> &nbsp;&nbsp;
        <div style="margin: 0 auto; width:30px" class="logo-superior"><img src="img/iconos/logo.png" width="30px" height="30px"></div>
        <div ng-controller="ProfileCtrl" class="nombreProfile"><h4>{{nameProfile}}</h4></div>
    </ion-nav-buttons>
    <ion-content>
        <div class="row">
            <div class="col col-50">
                <a style="text-decoration:none !important;" class="" href="#/app/letras">
                    <div class="card">
                        <div class="item item-image imagen-inicio">
                          <img src="img/menu/letras.jpg">
                        </div>
                        <div class="item text-center color-rojo">
                            <h3>LETRAS / LETTERS</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col col-50">
                <a style="text-decoration:none !important;" class="" href="#/app/vocales">
                    <div class="card">
                        <div class="item item-image imagen-inicio">
                          <img src="img/menu/vocales.jpg">
                        </div>
                        <div class="item text-center color-rojo">
                            <h3>VOCALES / VOWELS</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
          <div class="col col-50">
              <a style="text-decoration:none !important;" class="" href="#/app/sonidos">
                  <div class="card">
                      <div class="item item-image imagen-inicio">
                        <img src="img/menu/sonidos.jpg">
                      </div>
                      <div class="item text-center color-rojo">
                          <h3>SONIDOS / SOUNDS</h3>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col col-50">
              <a style="text-decoration:none !important;" class="" href="#/app/numeros">
                  <div class="card">
                      <div class="item item-image imagen-inicio">
                        <img src="img/menu/numeros.jpg">
                      </div>
                      <div class="item text-center color-rojo">
                          <h3>N&Uacute;MEROS / NUMBERS</h3>
                      </div>
                  </div>
              </a>
          </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <a style="text-decoration:none !important;" class="" href="#/app/familia">
                    <div class="card">
                        <div class="item item-image imagen-inicio">
                          <img src="img/menu/familia.jpg">
                        </div>
                        <div class="item text-center color-rojo">
                            <h3>FAMILIA / FAMILY</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col col-50">
                <a style="text-decoration:none !important;" class="" href="#/app/colores">
                    <div class="card">
                        <div class="item item-image imagen-inicio">
                          <img src="img/menu/colores.jpg">
                        </div>
                        <div class="item text-center color-rojo">
                            <h3>COLORES / COLORS</h3>
                        </div>
                    </div>
                </a>
            </div>
      </div>
      <div class="row">
        <div class="col col-50">
            <a style="text-decoration:none !important;" class="" href="#/app/palabras">
                <div class="card">
                    <div class="item item-image imagen-inicio">
                        <img src="img/menu/palabras.jpg">
                    </div>
                    <div class="item text-center color-rojo">
                        <h3>PALABRAS / WORDS</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col col-50">
            <a style="text-decoration:none !important;" class="" href="#/app/completar">
                <div class="card">
                    <div class="item item-image imagen-inicio">
                      <img src="img/menu/completar.jpg">
                    </div>
                    <div class="item text-center color-rojo">
                        <h3>COMPLETAR / COMPLETE</h3>
                    </div>
                </div>
            </a>
        </div>
      </div>
    </ion-content>

</ion-view>
