<ion-view view-title="Letras" class="bar-assertive" hide-back-button="true">
  <ion-nav-buttons side="left">
    <!--  <button class="button button-icon ion-arrow-left-c" menu-toggle="left"> </button> -->
      <a href="#/app/inicio" class="button button-icon ion-ios-arrow-back"> Inicio</a>
      <div style="margin: 0 auto; width:30px"><img src="img/iconos/logo.png" width="30px" height="30px"></div>
  </ion-nav-buttons>
  <ion-content>
      <div class="row" ng-repeat="letter in letters" ng-if="$index % 2 == 0">
            <div class="col col-50" ng-if="$index < letters.length">
                <div class="card">
                    <div ng-controller="mediaCtrl" class="item text-center">
                      <h1 style="color: {{items[$index].color}} !important; font-size: 48px !important; font-weight: bold !important;">{{letters[$index].content}}</h1>
                      <a ng-if="items[$index].mintitle != 'ñ'" ng-click="play('raw/'+items[$index].mintitle+'.mp3')">
                          <img ng-src="img/sonidos/sonido.png" width="36" height="36">
                      </a>
                      <a ng-if="items[$index].mintitle == 'ñ'" ng-click="play('raw/nn.mp3')">
                          <img ng-src="img/sonidos/sonido.png" width="36" height="36">
                      </a>
                      &nbsp;&nbsp;
                      <a ng-if="items[$index].mintitle != 'ñ'" ng-click="play('raw/'+items[$index].letterenglish+'.mp3')">
                          <img ng-src="img/sonidos/sonido_e.png" width="36" height="36">
                      </a>
                    </div>
                </div>
            </div>
            <div class="col col-50" ng-if="$index +1 < letters.length">
                <div class="card">
                    <div ng-controller="mediaCtrl" class="item text-center">
                      <h1 style="color: {{items[$index + 1].color}} !important; font-size: 48px !important; font-weight: bold !important;">{{letters[$index + 1].content}}</h1>
                        <a ng-click="play('raw/'+items[$index + 1].mintitle+'.mp3')">
                            <img ng-src="img/sonidos/sonido.png" width="36" height="36">
                        </a>
                        &nbsp;&nbsp;
                        <a ng-click="play('raw/'+items[$index + 1].letterenglish+'.mp3')">
                            <img ng-src="img/sonidos/sonido_e.png" width="36" height="36">
                        </a>
                    </div>
                </div>
            </div>
      </div>
  </ion-content>
</ion-view>
