<ion-view view-title="Login ABCD" cache-view="false" hide-back-button="true">
  <ion-nav-buttons side="right"> </ion-nav-buttons>
  <ion-content>
    <div style="margin: 20px auto;" align="center"><img src="img/iconos/logo.png" width="92px" height="92px"></div>
    <form name="FormLogin" ng-submit="doLogin()" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Usuario:</span>
          <input class="input-registro" type="text" name="username" placeholder="Escriba el usuario" ng-model="data.username" autocapitalize="off" autocorrect="off" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Contraseña:</span>
          <input class="input-registro" type="password" name="password" placeholder="Escriba la contraseña" ng-model="data.password" required>
        </label>

        <label class="item">
          <input class="button button-block button-assertive" type="submit" name="submit" value="INICIAR SESIÓN" ng-disabled="FormLogin.$invalid">
        </label>
        <div class="item login_textos" align="center">
          <a ng-href="#/app/registro">Registrarse</a> <br><br>
          <a ng-href="#/app/olvidoClave">¿Olvidó su Contraseña?</a> <br>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
