<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content drag-content="toggledrag">
    <ion-nav-bar class="bar-stable bar-dark">
      <ion-nav-back-button> </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <div style="margin:0 auto; width:30px;" class="logo-superior">
            <img src="img/iconos/logo.png" width="30" height="30">
        </div>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-more-vertical" ng-click="show($event)"></button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable bar-assertive">
      <h1 class="title">Men&uacute;</h1>
    </ion-header-bar>

    <ion-content class="fondo-rojo11">
      <ion-list>
        <div ng-controller="ProfileCtrl">
          <ion-item class="fondo-rojo11 item-avatar">
            <img ng-src="{{imageProfileMenu}}" style="width:45px; height:45px; border-radius:50%;">
            <h2 style="color:#fff !important; font-size:20px; margin-top:7px;"><b>{{nameProfile}}</b></h2>
          </ion-item>
        </div>
        <ion-item class="fondo-rojo11 item item-icon-left" menu-close href="#/app/inicio">
            <span class="icono-menu"><img src="img/iconos/home.png" height="28"></span>
            Inicio / Home
        </ion-item>
        <ion-item class="fondo-rojo11 item item-icon-left" menu-close href="#/app/letras">
            <span class="icono-menu"><img src="img/iconos/letras.png" height="28"></span>
            Letras / Letters
        </ion-item>
        <ion-item class="fondo-rojo11 item item-icon-left" menu-close ui-sref="app.vocales">
            <span class="icono-menu"><img src="img/iconos/vocales.png" height="28"></span>
            Vocales / Vowels
        </ion-item>
        <ion-item class="fondo-rojo11 item item-icon-left" menu-close href="#/app/sonidos">
            <span class="icono-menu"><img src="img/iconos/sonidos.png" height="28"></span>
            Sonidos / Sounds
        </ion-item>
        <ion-item class="fondo-rojo11 item item-icon-left" menu-close href="#/app/numeros">
            <span class="icono-menu"><img src="img/iconos/numeros.png" height="28"></span>
            N&uacute;meros / Numbers
        </ion-item>
        <ion-item class="fondo-rojo11 item item-icon-left" menu-close href="#/app/familia">
            <span class="icono-menu"><img src="img/iconos/familia.png" height="28"></span>
            Familia / Family
        </ion-item>
        <ion-item class="fondo-rojo11 item item-icon-left" menu-close href="#/app/colores">
            <span class="icono-menu"><img src="img/iconos/colores.png" height="28"></span>
            Colores / Colors
        </ion-item>
        <ion-item class="fondo-rojo11 item item-icon-left" menu-close href="#/app/palabras">
            <span class="icono-menu"><img src="img/iconos/palabras.png" height="28"></span>
            Palabras / Words
        </ion-item>
        <ion-item class="fondo-rojo11 item item-icon-left" menu-close href="#/app/completar">
            <span class="icono-menu"><img src="img/iconos/completar.png" height="28"></span>
            Completar / Complete
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
