<ion-view view-title="Números" class="bar-assertive" hide-back-button="true">
    <ion-nav-buttons side="left">
      <!--  <button class="button button-icon ion-arrow-left-c" menu-toggle="left"> </button> -->
        <a href="#/app/inicio" class="button button-icon ion-ios-arrow-back"> Inicio</a>
        <div style="margin: 0 auto; width:30px" class="logo-superior"><img src="img/iconos/logo.png" width="30px" height="30px"></div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    </ion-nav-buttons>

    <ion-content>
      <div class="row">
          <div class="col col-50">
              <a style="text-decoration:none !important;" class="" href="#/app/numeros10">
                  <div class="card">
                      <div class="item item-image imagen-inicio">
                        <img src="img/numeros/num10.png" style="padding:15px;">
                      </div>
                  </div>
              </a>
          </div>
          <div class="col col-50">
              <a style="text-decoration:none !important;" class="" href="#/app/numeros20">
                  <div class="card">
                      <div class="item item-image imagen-inicio" style="padding:15px;">
                        <img src="img/numeros/num20.png">
                      </div>
                  </div>
              </a>
          </div>
      </div>

      <div class="row">
          <div class="col col-50">
              <a style="text-decoration:none !important;" class="" href="#/app/numeros30">
                  <div class="card">
                      <div class="item item-image imagen-inicio">
                        <img src="img/numeros/num30.png" style="padding:15px;">
                      </div>
                  </div>
              </a>
          </div>
          <div class="col col-50">
              <a style="text-decoration:none !important;" class="" href="#/app/numeros40">
                  <div class="card">
                      <div class="item item-image imagen-inicio" style="padding:15px;">
                        <img src="img/numeros/num40.png">
                      </div>
                  </div>
              </a>
          </div>
      </div>

      <div class="row">
          <div class="col col-50">
              <a style="text-decoration:none !important;" class="" href="#/app/numeros50">
                  <div class="card">
                      <div class="item item-image imagen-inicio">
                        <img src="img/numeros/num50.png" style="padding:15px;">
                      </div>
                  </div>
              </a>
          </div>
          <div class="col col-50">
              <a style="text-decoration:none !important;" class="" href="#/app/numeros60">
                  <div class="card">
                      <div class="item item-image imagen-inicio" style="padding:15px;">
                        <img src="img/numeros/num60.png">
                      </div>
                  </div>
              </a>
          </div>
      </div>

      <div class="row">
          <div class="col col-50">
              <a style="text-decoration:none !important;" class="" href="#/app/numeros70">
                  <div class="card">
                      <div class="item item-image imagen-inicio">
                        <img src="img/numeros/num70.png" style="padding:15px;">
                      </div>
                  </div>
              </a>
          </div>
          <div class="col col-50">
              <a style="text-decoration:none !important;" class="" href="#/app/numeros80">
                  <div class="card">
                      <div class="item item-image imagen-inicio" style="padding:15px;">
                        <img src="img/numeros/num80.png">
                      </div>
                  </div>
              </a>
          </div>
      </div>

      <div class="row">
          <div class="col col-50">
              <a style="text-decoration:none !important;" class="" href="#/app/numeros90">
                  <div class="card">
                      <div class="item item-image imagen-inicio">
                        <img src="img/numeros/num90.png" style="padding:15px;">
                      </div>
                  </div>
              </a>
          </div>
          <div class="col col-50">
              <a style="text-decoration:none !important;" class="" href="#/app/numeros100">
                  <div class="card">
                      <div class="item item-image imagen-inicio" style="padding:15px;">
                        <img src="img/numeros/num100.png">
                      </div>
                  </div>
              </a>
          </div>
      </div>

    </ion-content>
</ion-view>
