<ion-view view-title="Recuperar Contraseña" cache-view="false">
  <ion-nav-buttons side="right"> </ion-nav-buttons>

  <ion-content>
    <div style="margin: 20px auto;" align="center">
      <img src="img/iconos/logo.png" width="92px" height="92px"> <br>
      <h4>Recupera tu cuenta</h4>
    </div>
    <form ng-submit="doForgetPassword()">
      <div class="list">
        <label class="item item-input">
          <input class="input-registro" type="email" name="email" placeholder="Correo Electrónico" ng-model="data.email" autocapitalize="off" required>
        </label>
        <div class="textos-recuperar-clave">Ingresa su correo electrónico asociado a su cuenta de MiABCD. Te enviaremos un correo con sus datos para el inicio de sesión, recuerda también revisar la carpeta de SPAM o correos no deseados.</div>
        <label class="item">
          <input class="button button-block button-assertive" type="submit" name="submit" value="ENVIAR">
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
