<ion-view view-title="Palabras" class="bar-assertive" hide-back-button="true">
  <ion-nav-buttons side="left">
    <!--  <button class="button button-icon ion-arrow-left-c" menu-toggle="left"> </button> -->
      <a href="#/app/inicio" class="button button-icon ion-ios-arrow-back"> Inicio</a>
      <div style="margin: 0 auto; width:30px"><img src="img/iconos/logo.png" width="30px" height="30px"></div>
  </ion-nav-buttons>

  <ion-content>
      <div class="row" ng-repeat="palabra in palabras" ng-if="$index % 3 == 0">
            <div class="col col-33" ng-if="$index < palabras.length">
                <div class="card no-margin">
                    <div class="item text-center no-padding">
                        <a style="text-decoration:none !important;" ng-href="#/app/palabras/{{palabras[$index].Id}}">
                          <h1 style="color: {{items[$index].color}} !important; font-size: 48px !important; font-weight: bold !important;">{{palabras[$index].title}}</h1>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col col-33" ng-if="$index +1 < palabras.length">
                <div class="card no-margin">
                    <div class="item text-center no-padding">
                        <a style="text-decoration:none !important;" ng-href="#/app/palabras/{{palabras[$index + 1].Id}}">
                          <h1 style="color: {{items[$index + 1].color}} !important; font-size: 48px !important; font-weight: bold !important;">{{palabras[$index + 1].title}}</h1>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col col-33" ng-if="$index +2 < palabras.length">
                <div class="card no-margin">
                    <div class="item text-center no-padding">
                        <a style="text-decoration:none !important;" ng-href="#/app/palabras/{{palabras[$index + 2].Id}}">
                          <h1 style="color: {{items[$index + 2].color}} !important; font-size: 48px !important;font-weight: bold !important;">{{palabras[$index + 2].title}}</h1>
                        </a>
                    </div>
                </div>
            </div>
      </div>

  </ion-content>
</ion-view>
