<ion-popover-view>
    <ion-list>

       <ion-item class="item">
          <a style="text-decoration:none !important; color:#444 !important;" ng-click="hideE()" ng-href="#/app/addPalabra/{{popover.item.Id}}">
            Agregar palabra
          </a>
       </ion-item>
       <!--
        <ion-item class="item">
           <a style="text-decoration:none !important; color:#444 !important;" ng-click="hideE()" ng-href="#/app/editPalabra/{{popover.item.Id}}">
             Editar palabra
           </a>
       </ion-item>
        -->
    </ion-list>
 </ion-popover-view>
