<ion-popover-view>
    <ion-list>
       <ion-item class="item item-icon-left">
          <a style="text-decoration:none !important; color:#444 !important;" ng-click="hidePop()" ng-href="#/app/inicio2">
            <i class="icon ion-ios-contact"></i> Mi Perfil </a>
       </ion-item>
       <ion-item class="item item-icon-left">
          <a style="text-decoration:none !important; color:#444 !important;" ng-click="hidePop()" ng-href="#/app/cambiarClave">
            <i class="icon ion-locked"></i> Cambiar Clave </a>
       </ion-item>
       <ion-item class="item item-icon-left" ng-controller="logoutCtrl">
          <a style="text-decoration:none !important; color:#444 !important;" ng-click="logOut()">
            <i class="icon ion-ios-close"></i> Cerrar Sesión </a>
       </ion-item>
    </ion-list>
</ion-popover-view>
