<ion-popover-view>

    <ion-list>
       <ion-item class="item">
           <a style="text-decoration:none !important; color:#444 !important;" ng-click="hideE()" ng-href="#/app/editSimple/{{popover.item.Id}}">Editar audio</a>
       </ion-item>

    </ion-list>

 </ion-popover-view>
