<ion-popover-view>

    <ion-list>
      
       <ion-item class="item item-icon-left">
           <a style="text-decoration:none !important; color:#444 !important;" ng-click="hideE()" ng-href="#/app/editComp/{{popover.item.Id_words}}">
             <i class="icon ion-ios-compose-outline"></i> Editar audio
           </a>
       </ion-item>

    </ion-list>

 </ion-popover-view>
