<ion-view view-title="Registro ABCD" class="bar-dark" cache-view="false">
    <ion-nav-buttons side="left">
        <div style="margin: 0 auto; width:30px" class="logo-superior"><img src="img/iconos/logo.png" width="30px" height="30px"></div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right"> </ion-nav-buttons>

    <ion-content>
      <form name="registroUsuarios" ng-submit="doRegister(data)">
        <div class="text-center title-foto-perfil">
          <h5 style="color: #000 !important;">Seleccione foto para el perfil</h5>
        </div>
        <div>
          <a ng-click="editImage()">
            <div ng-if="imgURI!==null" class="text-center">
              <img ng-src="{{rutaImagenPerfil}}" class="imagen-perfil">
            </div>
            <div ng-if="imgURI===null" class="text-center">
              <img ng-src="img/iconos/not_found.png" class="imagen-perfil">
            </div>
          </a>
        </div>
        <div class="text-center input-nombre-perfil">
            <label class="item item-input">
              <input class="input-registro" placeholder="Código de acceso" name="access_code_id" type="text" ng-model="data.access_code_id" minlength="12" autocapitalize="off">
            </label>
            <span class="error" ng-show="registroUsuarios.access_code_id.$error.minlength && !registroUsuarios.access_code_id.$pristine">El campo debe ser mínimo 12 carácteres</span>
            <label class="item item-input">
              <input class="input-registro" placeholder="Nombre del aprendiz" name="name" type="text" ng-model="data.name">
            </label>
            <label class="item item-input">
              <input class="input-registro" placeholder="Correo Electrónico" name="email" type="email" ng-model="data.email" autocapitalize="off">
            </label>
              <span ng-show="!registroUsuarios.$pristine && registroUsuarios.email.$error.email">Por favor escriba el email válido.</span>
            <label class="item item-input">
              <input class="input-registro" placeholder="Usuario" name="username" type="text" ng-model="data.username" autocapitalize="off">
            </label>
            <label class="item item-input">
              <input class="input-registro" placeholder="Contraseña" name="password" type="password" ng-model="data.password">
            </label>
            <label class="item item-input">
              <input class="input-registro" placeholder="Confirmar Contraseña" name="password2" type="password" ng-model="data.password2">
            </label>
        </div>
        <div class="row item">
            <div class="col col-50">
                <label>
                    <span class="input-label campo-input">Frase de felicitaci&oacute;n:</span>
                </label>
            </div>
            <div class="col col-offset-20">
                <a ng-click="playing(congrats_path)">
                  <img ng-src="img/sonidos/play.png" width="37px" height="37px">
                </a>
            </div>
            <div class="col">
                <a on-hold="recordStartCon()" on-release="recordEndCon()"><img ng-src="img/sonidos/mic.png" width="37px" height="37px"></a>
            </div>
        </div>
        <div class="row item">
            <div class="col col-50">
                <label>
                    <span class="input-label campo-input">Pronunciaci&oacute;n de tu nombre:</span>
                </label>
            </div>
            <div class="col col-offset-20">
                <a ng-click="playing(name_sound_path)">
                  <img ng-src="img/sonidos/play.png" width="37px" height="37px">
                </a>
            </div>
            <div class="col">
                <a on-hold="recordStart()" on-release="recordEnd()"><img ng-src="img/sonidos/mic.png" width="37px" height="37px"></a>
            </div>
        </div>
        <div class="item">
            <input class="button button-block button-assertive" type="submit" name="submit" value="REGISTRAR">
        </div>
      </form>
    </ion-content>

</ion-view>
