<ion-view view-title="Sonidos" class="bar-assertive" hide-back-button="true">
  <ion-nav-buttons side="left">
    <!--  <button class="button button-icon ion-arrow-left-c" menu-toggle="left"> </button> -->
      <a href="#/app/inicio" class="button button-icon ion-ios-arrow-back"> Inicio</a>
      <div style="margin: 0 auto; width:30px"><img src="img/iconos/logo.png" width="30px" height="30px"></div>
  </ion-nav-buttons>

  <ion-content class="center-vert">
     <div class="row">
        <div class="col col-50">
                <a style="text-decoration:none !important;" class="" href="#/app/simples">
                    <div class="card">
                        <div class="item item-image imagen-inicio">
                            <img src="img/sonidos/sonidos-simples.jpg">
                        </div>
                        <div class="item text-center color-rojo">
                            <h3>SIMPLES</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col col-50">
                <a style="text-decoration:none !important;" class="" href="#/app/compuestos">
                    <div class="card">
                        <div class="item item-image imagen-inicio">
                          <img src="img/sonidos/sonidos-compuestos.jpg">
                        </div>
                        <div class="item text-center color-rojo">
                            <h3>COMPUESTOS</h3>
                        </div>
                    </div>
                </a>
            </div>
    </div>
  </ion-content>
</ion-view>
