/* --- Estilos personalizados --- */
.icono-menu img{
  margin-bottom: -8px;
}
.color-rojo h3{
  color:#e42012;
  font-size: 11px;
}
.item.color-rojo{
  padding: 11px;
}
.fondo-rojo{
  background-color: #e30200;
  height: 60%;
}
.fondo-rojo11{
  background:#e42012 !important;
}
.fondo-rojo11 a{
  background:#e42012 !important;
  color:#fff;
}
.fondo-rojo11 a:hover{
  background:#e40000;
}
.fondo-rojo11.item-icon-left.item-complex .item-content{
  padding-left: 10px;
}
.fondo-rojo11.item{
  border-width: 0px;
}
.scroll-content {
  background-color:#eee;
}
.bar.bar-assertive{
  background:#e42012;
}
.container-imagen-perfil{
  width: 120px;
  margin: auto;
  margin-bottom: 6px;
}
.imagen-perfil{
  width: 110px;
  height: 110px;
  background: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.campo-input{
  width: 100%;
  font-size: 14px;
}
.card{
  margin: 2px;
}
.imagen-inicio img{

}
.popover {
  height: auto;
  width: auto;
}
h1.slide-estilo{
  text-align: center;
  color:#fff;
  font-weight: bold;
  font-size: 80px;
  text-transform:lowercase;
}
.flecha-izq-slide{
  float: left;
  margin-top: -88px;
}
.flecha-der-slide{
  float: right;
  margin-top: -88px;
}
.item-palabras {
    background-color: #dce2ee;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 14px 0px;
    text-align: center !important;
    font-size: 30px;
    font-weight: bold;
}
.button.button-assertive {
    border-color: #333;
    background-color: #e42012;
    color: #fff;
}
.button.button-assertive:hover {
    background-color: #222222 !important;
}
.input-registro{
  font-size: 16px;
  text-align: center !important;
  width: 100%;
  margin: auto;
  background: #eeeeee;
  border-radius: 0;
}
.boton-no-hay-palabras{
  font-size: 38px !important;
}

/* --- Estilo para inputs de Add Palabra y Edit Palabra --- */
.boton-agregar-estilo1{
  font-size: 18px !important;
  text-align: right !important;
  font-weight: bold !important;
  color: #ef473a !important;
  border-bottom: 2px solid #11c1f3;
  width: 50px;
}
.boton-agregar-estilo2{
  font-size: 18px !important;
  text-align: right !important;
  font-weight: bold !important;
  border-bottom: 1px solid #11c1f3 !important;
}

/* --- Estilo para módulo Familia --- */
.item-familia{
  background-color: #eee;
  width: 100%;
}
.item-familia .item{
  padding:0px 2px;
}
.item-familia .item span{
  font-size:21px;
  color:#111111;
}
.item-familia a.item-content{
  padding-top:8px;
  padding-bottom:8px;
}
.boton-agregar-estilo-familia1{
  font-size: 18px !important;
  text-align: right;
  font-weight: bold;
  color: #ef473a !important;
  border-bottom: 2px solid #11c1f3 !important;
  width: 30px !important;
}
.boton-agregar-estilo-familia2{
  font-size: 18px !important;
  text-align: right !important;
  font-weight: bold !important;
  border-bottom: 2px solid #11c1f3 !important;
  width: 40px;
}
.popup-vertical-buttons .popup-buttons {
  display: block;
}
.popup-vertical-buttons .popup-buttons .button{
  display:block;
  margin-bottom:22px;
  min-width: 100% !important;
}
.item-imagen-agregar{
  height: 100%;
  max-height: 220px;
  min-height: 210px;
}

/* --- Estilo para Completar --- */
.contenedor_fila_compl .col{
  padding: 1px;
}
.cont_compl_palabras{
    border: 3px solid #e42012;
    margin: 2px;
}
.cont_compl_palabras img{
    width: 100%;
    margin-top: 40px;
}
.drop-container{
  min-height: 190px;
  background: #ffffff;
}
.drop-container .ng-binding{
  	background:#e42012;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    border: 2px solid #3a37e4;
    margin: 2px;
    padding: 10px;
}
.drag-enter{
    background: #ccc;
}
.draggable-objects .item{
    background: #e42012;
    padding: 8px;
    opacity: 0.9;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
.boton-recargar{
  width: 300px !important;
  margin:auto;
  background: #3975ee;
  color: #ffffff;
  padding: 8px;
  margin-top: 0px;
}
.login_textos a{
  text-decoration: none;
  color:#333333;
}
.nombreProfile h4{
  color:#fff !important;
  margin: 7px 5px 3px 5px!important;
  font-size: 16px;
}
.textos-recuperar-clave{
  padding: 20px 15px;
  background: #fff;
  color: #333;
}


/* --- Media Queries para iPad --- */
@media only screen and (min-width: 768px) and (orientation: portrait) {
 .menu.menu-left{
  	width: calc(52%) !important;
 }
 .menu-open .menu-content{
  	transform: translate3d(calc(52%), 0px, 0px) !important;
 }
 .nombreProfile h4{
   color: #fff !important;
   margin: 5px 16px !important;
   font-size: 22px;
 }
 .color-rojo h3{
   color:#e42012;
   font-size: 18px;
 }
 .card{
   margin: 11px;
 }
 .bar .title {
   font-size: 24px;
 }
 .bar-assertive .button.button-clear {
   font-size: 22px;
 }
 .bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before {
   font-size: 44px;
 }
 .item {
  font-size: 22px;
 }
 .platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
  height: 70px;
 }
 .fondo-rojo{
  height: 80%;
 }
 .item-palabras h3{
   font-size:32px;
 }
 .item-palabras {
    padding: 26px 0px;
    font-size: 36px;
 }
 a.button.button-icon.ion-plus-circled{
    font-size: 42px !important;
 }
 a.button.button-icon.ion-trash-a{
    font-size: 43px !important;
 }
 a.button.button-icon.ion-edit{
    font-size: 42px !important;
 }
 .item-familia .item span{
   font-size:25px;
 }
 .item-familia a.item-content{
   padding-top:11px;
   padding-bottom:11px;
 }
 a.boton-slides-familia{
   font-size:22px;
   border:1px solid #333333;
 }
 h2.title-familia{
   font-size:22px;
 }
 .title-foto-perfil h5{
   font-size:24px;
   padding:10px 0px;
 }
 .container-imagen-perfil{
   width: 270px;
   margin: auto;
 }
 .imagen-perfil{
   width: 260px;
   height: 260px;
   margin-top: 16px;
   margin-bottom: 16px;
 }
 .logo-superior img{
   width:36px !important;
   height:36px !important;
 }
 .input-nombre-perfil input{
   font-size:20px !important;
 }
 .campo-input{
   font-size:19px;
 }
 .input-label {
   max-width: 320px;
   font-size: 20px;
 }
 .botones-perfil h4{
   font-size: 20px !important;
 }
 .popup-container .popup {
   width: 500px;
  }
  .popup-head {
    padding: 14px 8px;
  }
  .popup-title {
    font-size: 22px;
  }
  .popup-body {
    font-size: 18px;
    line-height: 26px
  }
  .item-imagen-agregar{
    height: 450px;
  	max-height: 450px;
    margin-bottom: 5px;
  }
  .titulo-clave h4{
    font-size: 22px !important;
  }
  .back-button{
    font-size: 21px !important;
  }
  input.input-registro{
    font-size: 19px !important;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .item-input{
    padding: 12px 0 8px 16px !important;
  }
  .textos-recuperar-clave{
    font-size: 21px;
    line-height: 28px;
  }
  .button.button-assertive{
    font-size: 19px;
  }
  .popup-vertical-buttons .popup-buttons .button{
    display:block;
    margin-bottom:26px;
    min-width: 100% !important;
    font-size: 21px;
  }
  .boton-agregar-estilo1{
    font-size: 22px !important;
  }
  .boton-agregar-estilo2{
    font-size: 22px !important;
  }
  .button.button-icon.button-light.ion-ios-checkmark-outline{
    font-size: 46px !important;
  }

}
